html,
body {
  padding: 0;
  margin: 0;
  font-family:'Ubuntu', sans-serif;
  background: #fbfaf7;
}

.site-shell {
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
